.survey {
    display: flex;
    width: 400px;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .footer {
        display: flex;
        justify-content: space-between;
    }
}
