.choice {
  margin: 10px;
  max-width: 600px;
  .title {
    white-space: pre-line;
  }
  .options {
    .option {
      width: 100%;
      overflow: hidden;
      svg {
        display: inline;
      }
      .check {
        width: 36px;
        height: 36px;
        position: absolute;
        opacity: 0;
      }
      .path {
        stroke-dasharray: 1800;
        stroke-dashoffset: 1800;
        transition: 0.5s all;
        &.selected {
          stroke-dashoffset: 0;
        }
      }
    }

  }
}
