@tailwind base;
@tailwind components;
@tailwind utilities;

#surveyyy {
  min-height: 100vh;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
  overflow: auto;
  justify-content: center;
  display: flex;
}
