body {
  background: salmon;
}

.card-stack {
  .cards-wrap {
    perspective: 100px;
    perspective-origin: 50% 120%;
  }
  .card {
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    transform-origin: 50% 50%;
    transition: all 0.8s;
  }
  .card.first {
    transform: translate3d(0, 0, 0px);
    z-index: 3;
  }

  .card.second {
    transform: translate3d(0, 0, -10px);
    z-index: 2;
  }

  .card.last-card {
    transform: translate3d(0, 0, -20px);
    z-index: 1;
  }

  .card:not(:first-child) {
    opacity: 0.9;
  }

  .option {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    outline: none;
    font-weight: 400;
    cursor: pointer;
  }

  .option:nth-child(2) {
    margin-bottom: 20px;
  }

  .option:hover,
  .option:active,
  .option.checked {
    transition: all 0.8s;
    background: #fff0f0 left 50px center no-repeat;
  }
}
